h1{
    color: cornflowerblue;
}
h3{
    color: darkblue;
}
.first-tital{
    color: darkolivegreen;
}
#youtube-link{
    color: rgb(197, 47, 139);
}
.demo h1{
    color: brown;
}
*{
    font-size: 20px;
}
.my-list + ul{
    list-style: none;
}
.routing li{
    color: indianred;
}
.routing li a{
    color: rgb(94, 196, 91);
}
a{
    color: saddlebrown;
}
.links li:nth-child(1){
    color: salmon;
}
.links1 {
    color: rgb(211, 116, 72);
}
.omr{
    color: skyblue;
}
#ecr{
    color: tan;
}
h2::after{
    color: violet !important;
    content: "subramani";
}
h3.active{
    color: yellow;
}
table,th,td{
    border:1px solid red;
    border-collapse: collapse;
}
div{
    /*background-color: blueviolet;*/
    color: black;
    padding: 20px;
    margin: 20px;
    width: 300px;
   /* border: 1px solid black;*/
}
*{
    
    box-sizing: border-box;
}
.text-section{
    font-size: 16px;
}
.text-section div{
    font-size: 1em;
}
button{
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
#button2{
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    border-top-left-radius: 2rem;
}
#button3{
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 50%;
}
#button4{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgb(154, 154, 189);
}
#button5{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: "none";
}
a{
   display: block;
   background-color: darkcyan;
   height: 2rem;
   text-align: center;
   padding: 2rem;
}
#lin a{
    display:inline-block;
    background-color: darkcyan;
    height: 2rem;
    text-align: center;
    padding: 2rem;
}